%h6.comment What do you think about this article? Write a comment below!
= form_for @comment do |f|
  = render "devise/shared/error_messages", resource: @comment
  %br
  .form-group
    .pb-cmnt-textarea
      = f.text_area :content, class: "form-control", placeholder: "comment here!"
    %br
    = f.hidden_field :post_id, value: @post.id
    .actions
      = f.submit "Comment", class: "btn btn-primary"

