.row
  .col-sm-6.offset-sm-3
    %ul.list-group.list-group-flush
      %li.list-group-item
        %p
        EMAIL
        %br
        = @user.email
        %br
      %li.list-group-item
        %p
        NAME
        %br
        = @user.name
        %br
      %li.list-group-item
        %p
        LOCATION
        %br
        = @user.location
        %br
      %li.list-group-item
        %p
        USERNAME
        %br
        = @user.username
        %br
        %span
      %li.list-group-item
        = image_tag @user.image.variant(resize_to_limit: [500, 300])
    #btnPrimary.btn.btn-outline-primary
      = link_to "Edit Profile", edit_user_path(current_user.id), class: "btn.btn-outline-primary"
