.row
  .col-md-6.offset-md-2
    .card.w-100
      .card-header
        = @post.title
      .card-body
        %blockquote.blockquote
          = @post.content
        %br
        %footer.blockquote-footer
          .mb-1
            Author:
            = @user.name
    %br
    %br
    = render partial: 'shared/infocard'
    %br
    %br
    = render partial: "comments/form"
    %h3
    All Comments
    (
    = @post.comments.size
    )
    %br
    = render partial: 'comments/comment'

