.row
  .col-md-6.offset-md-2
    .card.w-100
      .card-header
        = @post.title
      .card-body
        %blockquote.blockquote
          = @post.content
        %br
        %footer.blockquote-footer
          .mb-1
            Author:
            = @user.name
    %br
    %br
    .card
      .row
        .col-md-4
          - if @user.image.attached?
            = image_tag @user.image.variant(resize_to_limit: [200, 200])
        .col-md-8
          .card-body
            %h5.card-title
              = @user.name
            %button.btn.btn-outline-info
              = link_to 'See more of this Author', posts_path(user_id: @user.id), data: {icon: 'info', mini: 'true', role: 'button'}

