%nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand(href="#")
    %img(src= "https://4.bp.blogspot.com/-8rpOtgXlYxU/WTa8a6ubDTI/AAAAAAAAf3E/IM-VwUXLlT4RQUV8w-Tgp7JQSRGlpPIqACLcB/s1600/diplomacia%25C2%25B43.jpg" width="30" height="30" alt=" ")
  %button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    %span.navbar-toggler-icon
  %div.collapse.navbar-collapse#navbarNav
    %ul.navbar-nav
      %li.nav-item.active
        = link_to "Home", root_path, class: "nav-link"
      %li.nav-item
        = link_to "Help", help_path, class: "nav-link"
      %li.nav-item
        = link_to "About", about_path, class: "nav-link"
      - if user_signed_in?
        %li.nav-item
          = link_to "Articles", posts_path, class: "nav-link"
        %li.nav-item
          = link_to "Profile", user_path(current_user.id), class: "nav-link"
        %li.nav-item
          = link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"
      - else
        = link_to "log in", new_user_session_path, class: "nav-link"



